{% extends 'base.html'%}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-5 profile_pic">
        <!-- Prof Pic -->
        {% if user.profile_pic_path %}
        <p class="user-tag"> <strong>Username: </strong>{{user.username|capitalize}} </p>
        <img src="{{url_for('static',filename = user.profile_pic_path)}}" alt="" class="img-thumbnail">
        {% else %}
        <img src="{{url_for('static',filename = 'photos/Avatar.png')}}" alt="" class="img-thumbnail">
        {% endif %}
        
        {% if user == current_user %}
        <form action="{{url_for('main.update_pic',uname=user.username)}}" method="post" enctype="multipart/form-data">
            <input type="file" name="photo" class="form-control" required>
            <input type="submit">
        </form>
        {% endif %}
    </div>
    <div class="col-md-7"></div>
    </div>
</div>
{% endblock %}