{% extends 'base.html' %}
{% block content%}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            {% for message in get_flashed_messages() %}
                <div class="alert alert-danger">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message }}
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="row reset">
        <div class="col-md-3"></div>
        <div class="col-md-9">
            <h1> Reset Password</h1>
            <form class="form-group" action="" method="POST">
                {{form.hidden_tag()}}
                <h4 class="form-group">{{form.email.label}}: </h4>
                <p class="form-group"> {{form.email(size=64)}} </p>
                {% for error in form.email.errors %}
                <p><span style="color: red;"> {{error}} </span></p> 
                {% endfor %}
                <h4 class="form-group"> {{form.submit()}} </h4>
            </form>
        </div>
        
    </div>
</div>
{% endblock %}