body{
  font-family: 'Dosis', cursive;
}



.languages{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 2em;

}
.languages:hover{
  transition-delay: .2s;
}

.fa-angular{
  color: #b22222;
}
.fa-js{
  color: yellow;
}
.fa-css3-alt{
  color: #74ccf4;
}
.fa-database{
  color: grey;
}
.fa-star{
  color: orange;
}
.fa-python{
  color: pink;
}
.fa-java{
  color: #74ccf4;
}
.fa-pepper-hot{
  color: black;
}
.fa-facebook, .fa-instagram, .fa-twitter, .fa-github{
  color: black;
}

#description{
  font-size: xx-large;
  color: white;
  font-weight: bold;
  margin-top: 20px;
}

.options{
  border: 2px solid green;
  border-radius: 24px;
  color: white;
  font-size: x-large;
  text-align: center;
  margin-top: 20px;
  text-decoration: none;
}
.options:hover{
  background-color: green;
  color: white;
  text-decoration: none;
}

.head{
  color: #29153E;
  text-transform: uppercase;
  font-size: xx-large;
  font-weight: bolder;
}

.heady{
  color: #A36598;
  text-transform: uppercase;
  font-size: x-large;
}

.first{
  padding-top: 20px;
}

.quest{
  height: 550px;
  overflow: scroll;
  overflow-x: hidden;
}

.card-header{
  background-color: #637C33;
  color: white;
}
.footer{
  background-color: #637C33;
}
.logos{
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
  background-color: #637C33;
  padding-bottom: 12px;

}

.logos img{
  width: 100px;
  height: 50px;
}

.allthings{
  background-color: #637C33;
}
.profile_pic img{
  border-radius: 40px;
  max-width: 50px;
  height:auto;
}
.resetp{
  background-color:#999E6D !important;
  color: white;
}
