{% extends 'base.html'%}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
    <div class="container" style="background-color:rgba(194, 160, 160, 0.089)">
      <div style="background-color:#999E6D;color: white">
            <h2 class="tile" ><strong>{{question.title |capitalize}}</strong></h2>
            <hr>
          </div>
        <div class="row">
            <div class="col-md-7">
              <i style="color:#898;" class='' >Asked  by ~~ {{question.user.username}} on {{question.posted.strftime("%m/%d/%Y")}} </i>
              <div class="quiz-body">
                <h5>  {{format_question|safe}}</h5>
              </div>


              <hr class="bg-success">

              <div class="answers">
                  {%if answer%}
                {%for ans in answer%}

                <div class="card-body">
                  <p style="background-color:rgba(0,0,0,0.05)" class="card-footer">{{ans.solution|capitalize}}</p>
                  <div class="card-text text-muted">Posted by:{{ans.owner.username}}</div>
                </div>

                {%endfor%}
                  {%else%}
                  <p class="alert alert-warning">This question has no answers yet</p>

                  {%endif%}

              </div>
            </div>


            <div class="col-md-5">
              {%if current_user.is_authenticated%}

                {{ wtf.quick_form(comment_form) }}
                {{simplemde.load}}
                {% else %}
                <a class="btn btn-outline-success"  href="{{url_for('auth.login')}}"> Log in to answer </a>
                {%endif%}

                <br>
            </div>
        </div>
    </div>

{% endblock %}
