{%extends "bootstrap/base.html"%}
{% block navbar %}
    {% include 'navbar.html' %}


{% endblock %}
{%block content%}
{%block styles%}
  
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/mdb.css')}}">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.3.1.min.js')}}"></script>
  <script src="{{ url_for('static', filename='js/popper.min.js')}}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.js')}}"></script>
  <script src="{{ url_for('static', filename='js/mdb.js')}}"></script>
  <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.9"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
  <script src="{{ url_for('static', filename='js/main.js')}}"></script>

  <!--Importing the simple mde css and js files  -->
  {{ simplemde.css}}
  {{ simplemde.js }}

    <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Arvo|Crimson+Text" rel="stylesheet">

   <link rel="stylesheet" href="{{url_for('static', filename = 'styles.css')}}">

  <!-- Javascript links and isht like this -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
{% endblock %}
{%endblock%}
