{% extends 'base.html'%}
{% import "bootstrap/wtf.html" as wtf %}
{% import 'macros.html' as macro %}


{% block content %}

    <div class="container-fluid">
            <h2 >Python</h2>
            <hr>
        <div class="row">
            <div class="col-md-7">
                {{ wtf.quick_form(question_form) }}
                {{simplemde.load}}
                 
            </div>
            
            <div class="col-md-5">
                {{macro.displayQuestions(ask_a_question)}}
            </div>
        </div>
    </div>

{% endblock %}