{%extends 'base.html'%}

{%block content%}
<div class="container-fluid">
  <div class="row">


  <div class="col-md-2">
    <h1>Categories</h1>

    <ul class="list-group">
      <a href="{{url_for('main.categories',categ='flask')}}"><li class="list-group-item">Flask</li></a>
      <a href="{{url_for('main.categories',categ='Django')}}"><li class="list-group-item">Django</li></a>
      <a href="{{url_for('main.categories',categ='Javascript')}}"><li class="list-group-item">Javascript</li></a>
      <a href="{{url_for('main.categories',categ='Postgresql')}}"><li class="list-group-item">Postgresql</li></a>
      <a href="{{url_for('main.categories',categ='jQuery')}}"><li class="list-group-item">jQuery</li></a>
      <a href="{{url_for('main.categories',categ='Python')}}"><li class="list-group-item">Python3.6</li></a>
      <a href="{{url_for('main.categories',categ='Html5')}}"><li class="list-group-item">Html5</li></a>
      <a href="{{url_for('main.categories',categ='Java')}}"><li class="list-group-item">Java</li></a>
      <a href="{{url_for('main.categories',categ='Angular')}}"><li class="list-group-item">Angular</li></a>
    </ul>

  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <h4>Moringa Overflow {{categ}}</h4>
      </div>

      <div  class="card-body card_body">
        <p class="text-center answer">"What do we say to the god of errors?"<br><br>"Not Today!"</p>

      </div>
        </div>


      <!-- query database for quiz-->
      <div class="scroll">
      {%for feed in all_feeds%}
      <div class="card-body us">
          <span>asked by~~</span><i>{{feed.user.username}}</i> <i>on {{feed.posted.strftime("%m/%d/%Y")}}</i>
          <h3>{{feed.title}}</h3>
          <p>{{feed.question | truncate(200)}}</p>


          <a href="{{url_for('main.answer_a_question',id=feed.id)}}">view Answers</a>
          <span  style="margin-left:10px;"class="badge badge-pill badge-primary">{{feed.category}}</span>
          <span style="margin-left:10px;">Answers</span><span  style="margin-left:10px;"class="badge badge-pill badge-primary">{{question_count}}</span>


      </div>
      {%endfor%}
      </div>




  </div>
  <div class="col-md-4">
    <h1 style='text-align:center'>Top questions</h1>
    {%for lan in all_feeds%}
    <div class="form-group">

      <a href="{{url_for('main.answer_a_question',id=lan.id)}}">{{lan.title}}</a>

    </div>
      {%endfor%}
  </div>
  </div>
</div>
{%endblock%}
